	* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
	/*font-family: Helvetica, Verdana, sans-serif;*/
	font-weight: 100;
}

img {
	max-width: 100%;
	height: auto;
}

.history p img {
	float: right;
	margin: 10px;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

 a:hover {
 	color:blue;
 }

 a {
 	font-weight: 300;
 	color: black;
 	background-color: burlywood;
 }
	/*body {
		font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
	}*/

	.content {
		width: 960px;
		margin: 0 auto;
		background-color: #f9f2ec;
	}


	#container {
	  width: 100%;
	  max-width: 960px;
	  margin: 0 auto;
	  background-color: #744a25;
	}
	
	h1 {
	  font-size: 60px;
	  font-weight: 400;
	  color: #f9f2ec;
	  margin-bottom: 10px;
	  padding: 20px;
	  letter-spacing: 2px;
	  
	}

	h2 {
		font-size: 26px;
		font-weight: 300;
		color: #f9f2ec;
		margin-bottom: 10px;
		padding: 20px;

	}

	h3 {
		font-size: 24px;
		font-weight: 600;
		color: #331a00;
		margin-bottom: 10px;
		padding: 20px;
	}

	nav {
	  text-align: center;
	  margin-top: 15px;
	  background-color: #f9f2ec;
	  max-width: 960px; 
	  height: 75px;
	  padding: 15px;
	  margin: 0 auto;
		}

	nav ul li {
  	display: inline-block;
  	margin: 0 0 0 40px;
 	 	font-size: 22px;
 	 	color: #331a00;
 	 	font-weight: 200;

	}



/*	.slideshow div {
		height: 600px;
		max-width: 960px;
	}*/

	.article {
		margin: 0 auto;
		display: inline-block;
		background-color: #f9f2ec;
	  max-width: 960px; 
	  height: 300px;
	  text-overflow: auto;
	  margin-bottom: 3em;
	}

	.article p {
		font-size: 18px;
		font-weight: 300;
		color: #331a00;
		width: 800px;
		padding-left: 50px
		padding-bottom: 50px;
		text-overflow: auto;
		line-height: 30px;
		margin-bottom: 20px


	}

	footer {
  	background: #121212;
  	padding: 40px 0 45px;
  	text-align: center;
  	margin-top: 3em;
	}

	footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 26px 60px;
	}

	footer p {
 	 font-size: 12px;
 	 color: #fff;
 	 font-weight: 100;
	}


	#contact {
 	 	width: 70%;
	}

	.slideshow {
		width: 60%;
		margin: 0 auto;

	}

	.slideshow img {
		height: 250px;
		width: 90%;

	}

	.article img p  {
		float: right;
		margin: 10px
	}

/* Registration Form Styles */



form {
  margin: 20px 0px 80px 0px;
}

form div {
  margin-bottom: 18px;
  font-size: 16px;
}

select, input {
  padding: 4px 6px;
  border: none;
  border-bottom: 1px solid #121212;
  color: #121212;
  width: 360px;
}

form div label {
  width: 170px;
  margin-right: 15px;
  display: inline-block;
}

form div input[type="radio"] {
  margin-left: 25px;
  width: auto;
}

form div input[type="radio"]:first-of-type {
  margin-left: 0;
}

form .services {
  width: auto;
}

form div input[type="checkbox"] {
  width: 10px;
}

form button {
  margin-left: 0;
  font-size: 18px;
  background-color: #033048;
  color: #ffffff;
  border-radius: 7px;
  padding: 10px;
  width: 300px;
}

/* end of Registration Form Styles */
